<h1>Groups#index</h1>
<p>Find me in app/views/groups/index.html.erb</p>
<% @groups.each do |group| %>
<h2><%= group.name %></h2>
<h2><% group.users.each do |user| %> </h2>
<h2><%= link_to user.name, user_path(user) %> </h2>
<% end %>
<% end %>