<h1>Usergroups#new</h1>
<p>Find me in app/views/usergroups/new.html.erb</p>
<div class="container">
        <div class="row">
          <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signin flex-row border-0 shadow my-5">
              <div class="card-img-left d-none d-md-flex">
              </div>
              <div class="card-body">
                <h5 class="card-title text-center">Join Group</h5>
                <%= form_tag "/users/:id/joingroup" do %>
                  <div class="form-label-group">
                    <%= collection_select(:user_group, :group_id, @groups, :id, :name) %>
                  <hr>
                  </div>
                  <%= submit_tag "Join Group", class: "btn btn-lg btn-primary btn-block text-uppercase" %>
                  <hr class="my-4">
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
