<body id="body"><div id="header" >
        <br><div class="button"><%= link_to  "Login", "/login"  %></div><br><br>
        <div class="button"><%= link_to  "Signup", "/signup"  %></div>
</div>
</body>