<<<<<<< HEAD
=======

>>>>>>> d86cf7d2928aeedcdc77d7f038a2a75dd1654641
<body id="body"><div id="header" >
        <br><div class="button"><%= link_to  "Login", "/login"  %></div><br><br>
        <div class="button"><%= link_to  "Signup", "/signup"  %></div>
</div>
</body>
<<<<<<< HEAD
=======

>>>>>>> d86cf7d2928aeedcdc77d7f038a2a75dd1654641
