// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body #body {
    background: #33333370 url("https://images.unsplash.com/photo-1564422168576-2b40f656d8e6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1955&q=80") no-repeat;
    opacity: 0.8;
    background-size: cover;
}
#header {
    
    padding: 6em 0;
    text-align: center;
    background-position: 0% 65%;
    position: relative;
}
/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    background: #3ac984;
    border-radius: 40px;
    border: 0;
    color: white;
    cursor: pointer;
    display: inline-block;
    padding: 0.80em 2em;
    text-align: center;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: 600;
    min-width: 10em;
}

    input[type="submit"]:hover,
    input[type="reset"]:hover,
    input[type="button"]:hover,
    .button:hover {
        background-color: #32b777e7;
    }

    input[type="submit"].fit,
    input[type="reset"].fit,
    input[type="button"].fit,
    .button.fit {
        width: 100%;
    }

    input[type="submit"].small,
    input[type="reset"].small,
    input[type="button"].small,
    .button.small {
        font-size: 0.8em;
    }